@import "tailwindcss";
@import "tailwind-animations";

@theme {
  --color-primary: #d0ceff;
  --color-primary-light: #dedcfa;
  --color-title: #5b4294;
  --color-subtitle: #8f78c5;
  --color-button: #8f78c5;
}

.input-text {
  @apply w-full py-3 pr-3 pl-10 rounded-full border border-gray-300 focus:border-button focus:outline-none;
}

.button-primary {
  @apply bg-button hover:bg-primary text-white p-3 rounded-full cursor-pointer;
}

.action-button {
  @apply rounded-full p-3 hover:animate-tilt cursor-pointer text-white;
}

.subtitle {
  @apply text-4xl font-bold text-title text-center;
}

.profile {
  @apply size-20 flex items-center justify-center rounded-full bg-primary;
}

.section-action {
  @apply w-full max-w-5xl flex flex-col justify-center items-center h-dvh gap-4 p-2 md:shadow-lg md:rounded-lg md:h-auto md:p-10;
}

.header-action {
  @apply flex justify-between items-center w-full md:gap-4;
}
